<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDB" connectionString="Server=127.0.0.1;Uid=root;Pwd=1234;Database=musical"/>
		<add name="projectDB" connectionString="server=whyfi8888.ddns.net;port=13307;uid=gudi16;pwd=gudi16$$;database=gudi16;allow user variables=true " />
	</connectionStrings>
	<appSettings>
		<add key="OrgFolder" value="C:\Users\JungJinho\WorkLog"/>
		<!--공유폴더명-->
		<add key="WorkInterval" value="3000"/>
		<!--처리시간 interval-->
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>